<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:mvc="http://www.springframework.org/schema/mvc">

	<!-- auto poxy -->
	<!--<aop:aspectj-autoproxy /> -->

	<!-- validator, conversionService, messageConverter를 자동으로 등록 -->
	<mvc:annotation-driven>
		<!-- Message Converters -->
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/html; charset=UTF-8</value>
					</list>
				</property>
			</bean>

			<bean
				class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>application/json; charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>

		<!-- argument resolver -->
		<!--<mvc:argument-resolvers>
			<bean class="com.ff.modeal.security.AdminUserHandlerMethodArgumentResolver" />
		</mvc:argument-resolvers>-->

	</mvc:annotation-driven>

	<!-- 서블릿 컨테이너의 디폴트 서블릿 위임 핸들러 -->
	<mvc:default-servlet-handler />

	<!-- Interceptors -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/loginresult" />
			<bean class="com.ff.modeal.security.AdminLoginInterceptor" />
		</mvc:interceptor>
		
		<mvc:interceptor>
			<mvc:mapping path="/logout" />
			<bean class="com.ff.modeal.security.AdminLogoutInterceptor" />
		</mvc:interceptor>
		

		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<mvc:exclude-mapping path="/loginresult" />
			<mvc:exclude-mapping path="/logout" />
			<mvc:exclude-mapping path="/assets/**" />
			<bean class="com.ff.modeal.security.AdminInterceptor" />
		</mvc:interceptor>

	</mvc:interceptors>
	<!-- annotation 설정을 하겠다. -->
	<context:annotation-config />

	<!-- 패키지 (com.bit2016.emaillist.controller) 밑에 있는 클래스 중에 @Controller를 달고 
		있는 클래스의 객체를 생성하겠다. -->
	<context:component-scan base-package="com.ff.modeal.controller" />

	<!-- 기본 뷰 리졸버 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
		<property name="order" value="1" />
	</bean>


	<!-- 6. MessageSource -->
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="defaultEncoding" value="utf-8" />
		<property name="basenames">
			<list>
				<value>messages/messages_ko</value>
			</list>
		</property>
	</bean>
	
	<!-- [수정]12.31(상욱추가) 사진 불러올때 (사진저장은 c:/upload에 되고 불러올때는 /shop/images/** 으로 불러온다)-->
	<!-- the mvc resources tag does the magic -->
	<mvc:resources mapping="/shop/images/**" location="file:/upload/" />
	
	<!-- 멀티파트 리졸버 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 최대업로드 가능한 바이트크기 -->
		<property name="maxUploadSize" value="52428800" />
		<!-- 디스크에 임시 파일을 생성하기 전에 메모리에 보관할수있는 최대 바이트 크기 -->
		<!-- property name="maxInMemorySize" value="52428800" / -->
		<!-- defaultEncoding -->
		<property name="defaultEncoding" value="utf-8" />
	</bean>
</beans>
